# from https://distillery.rbind.io/posts/2021-03-18-use-github-actions-with-r-markdown-and-distill/
name: Render & Deploy Report Site

on: 
  push:
  schedule:
    # Runs daily at 12:55 UTC (07:55 ET) and 13:55 UTC (08:55 ET)
    - cron: '55 12,13 * * *'
# https://crontab.guru/#5_*_*_*_*


permissions:
  contents: write
  
jobs:
  render:
    name: Render report
    runs-on: windows-2025
    env:
      R_LIBS_USER: ${{ github.workspace }}/.Rlibrary
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # Logging step here
    - name: Log Scheduled and Current Time
      run: |
        echo "Scheduled cron: 55 12,13 * * *"
        echo "Current UTC time: $(date -u)"
        echo "Current local time: $(date)"

    - name: Set up R
      uses: r-lib/actions/setup-r@v2
      with:
          r-version: '4.2.0' 

    - name: Set up Pandoc
      uses: r-lib/actions/setup-pandoc@v2

    - name: Cache R packages
      uses: actions/cache@v3
      with:
        path: ${{ env.R_LIBS_USER }}
        key: ${{ runner.os }}-R-2025-11
        restore-keys: |
          ${{ runner.os }}-R-
## If you ever want to reset the cache (e.g., after adding new packages), just change the cache key (e.g., update 2025-11 to 2025-12).          
    
    - name: Ensure R library exists
      shell: Rscript {0}
      run: |
        dir.create(Sys.getenv("R_LIBS_USER"), showWarnings = FALSE, recursive = TRUE)
        .libPaths(Sys.getenv("R_LIBS_USER"))

    - name: Install R packages
      shell: Rscript {0}
      run: |
        .libPaths(Sys.getenv("R_LIBS_USER"))
        install.packages(c(
        "remotes","reshape2","plyr","zoo",
        "RcppRoll","dataRetrieval","downloadthis","rvest","httr",
        "mapmisc","future","future.apply","flextable","ggplot2","RCurl",
        "raster","sf","terra","units","wesanderson"
        ), dependencies = TRUE, 
        type = "binary", 
        repos = c('https://rspatial.r-universe.dev', 
        'https://cloud.r-project.org'))

    - name: Install custom packages
      shell: Rscript {0}
      run: |
        .libPaths(Sys.getenv("R_LIBS_USER"))
        remotes::install_github("SwampThingPaul/AnalystHelper")
        remotes::install_github("SwampThingPaul/EVERSpatDat")


    - name: Check R library contents
      run: ls -l ${{ env.R_LIBS_USER }}

    - name: Download data
      shell: Rscript {0}
      run: |
        .libPaths(Sys.getenv("R_LIBS_USER"))
        source("./report/NOAA_RS_Download.R")
        # source("./report/USACE_download.R")
    
    - name: Render Site
      shell: Rscript {0}
      run: |
        .libPaths(Sys.getenv("R_LIBS_USER"))
        rmarkdown::render("./report/REPORT.Rmd", output_format = "html_document")# ,clean = TRUE, envir = new.env())
    
    - name: setup git config
      run: |
        # setup the username and email.
        git config user.name "SwampThingPaul"
        git config user.email "<>"
      
    - name: Commit results
      run: |
        git add -A 
        git commit -m 'update report' || echo "No changes to commit"
        git pull --rebase origin master # git pull --ff-only
        git push origin || echo "No changes to commit"